<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Typeform: Test OAuth Scopes</title>
    <style>
        body {
            --accent: #e2543d;
            --accent-dull: #eb7152;
            --stone: #f1ece3;

            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0;
            color: #262627;
            background-color: var(--stone);
        }

        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }

        .btn {
            color: #fff;
            font-size: 15px;
            background: var(--accent);
            display: inline-block;
            border: none;
            padding: 3px 12px;
            padding: 10px;
            margin: 10px 0;
            text-decoration: none;
        }

        .btn:hover {
            cursor: pointer;
            background-color: var(--accent-dull);
        }


        .token {
            color: var(--accent);
            font-weight: bold;
            font-family: monospace;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <header>
        <h1>Typeform OAuth Boilerplate</h1>
    </header>
    <main>
        <p>You're logged in to Typeform!</p>
        <p>Your token is:</p>
        <p class="token">
            <%= user.access_token %>
        </p>
        <p>
            <a class="btn" href="/logout">Logout</a>
        </p>
    </main>
</body>

</html>