<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Typeform: Test OAuth Scopes</title>
    <style>
        body {
            --stone: #f1ece3;
            --stone50: #f8f6f1;
            --charcoal: #262627;
            --accent: #ae4737;
            --accent-dull: #eb7152;

            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0;
            color: #262627;
            background-color: var(--stone50);
        }

        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }

        .btn {
            color: #fff;
            font-size: 15px;
            background: var(--accent);
            display: inline-block;
            border: none;
            padding: 3px 12px;
            min-width: 120px;
            padding: 10px;
            margin: 10px 0;
            text-decoration: none;
        }

        .btn:hover {
            cursor: pointer;
            background-color: var(--accent-dull);
        }
    </style>
</head>

<body>
    <header>
        <h1>Typeform OAuth Boilerplate</h1>
        <a class="btn" href="/auth/typeform">Login with Typeform!</a>
    </header>
    <main>
        <img src="/img/bokeh.jpeg" alt="Bokeh magik" width="800px">
    </main>
</body>

</html>